@import '../../sassStyles/variables';

.form-control {
    font-size: .75rem !important;
    padding-top: 1.15rem !important;
    padding-bottom: 1.15rem !important;
    color: #4a4a4a !important;

    @include breakpoint(tablet-portrait-down) {
        padding-top: 0.8rem !important;
        padding-bottom: 0.8rem !important;
    }
}

.field-label {
    font-size: .7rem;
    margin-bottom: 0.2rem;

    @include breakpoint(tablet-portrait-down) {
        margin-bottom: 0;
    }
}

.invalid-feedback {
    font-size: .7rem !important;
    text-align: justify;
}