@import './variables';

$primary: $primaryColor;
$secondary: $secondaryColor;
$danger: $errorColor;
$success: $successColor;

.row {
    margin: 0 !important;
}

.col {
    padding: 0 !important;
    width: max-content !important;
}

.modal-custom {
    .modal-content {
        padding: 0.5rem 1rem; 
    }

    .btn {
        font-size: 0.7rem;
    }
    
}

@import "../../node_modules/bootstrap/scss/bootstrap";