@import '../../sassStyles/variables';

.painel {
    display: flex;
    position: relative;
    background-color: #F1F5F9;

    @include breakpoint(tablet-portrait-down) {
        background-color: #fff;
    }
}

.section-title {
    color: $secondaryColor;
    font-size: 1.14rem;
}

.search-input-box {
    top: 1rem;
    position: absolute;
    height: min-content;
    right: 3rem;
    z-index: 2;

    @include breakpoint(tablet-portrait-down) {
        display: none;
    }

    .search-input-icon {
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        height: 1rem;
    }

    .search-input {
        border-radius: 4px;
        padding: 0.5rem;
        border: 1px solid #1E293B;
        font-size: 0.75rem;
        text-transform: capitalize;
        padding-right: 1.6rem;

        &:focus {
            outline: none;
        }
    }
}

.painel-view {
    display: flex;
    width: 100%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 3rem;
}

.white-curve {
    width: 100%;
    height: 12rem;
    background-color: white;
    position: absolute;
    right: 0;
    border-radius: 100% 0% 100% 0% / 0% 38% 62% 100%;
    z-index: 0;

    @include breakpoint(tablet-portrait-down) {
        display: none;
    }
}

.main-column {
    z-index: 1;
    width: 100%;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    @include breakpoint(tablet-portrait-down) {
        padding: 1rem .5rem;
    }

    @include breakpoint(tablet-landscape-up) {
        padding: 1rem 2rem;
    }

    @include breakpoint(desktop-up) {
        padding: 1rem 3rem;
    }
}
